.nav-link:hover {
  opacity: 1 !important;
}

.dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
  color: white !important;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: rgba(255, 255, 255, 0.15) !important;
  color: white !important;
}
