<section class="layers-page py-5">
  <div class="container-fluid px-0">

    <!-- Título -->
    <div class="text-center mb-5">
      <h1 class="text-cyan">Ocean Layers</h1>
      <p class="text-light opacity-75">
        Descend through the different depths of the ocean and discover its secrets.
      </p>
    </div>

    <!-- BLOQUES -->
    <div *ngFor="let layer of layers" class="layer-section" [ngClass]="layer.class">

      <div class="overlay"></div>

      <div class="content text-center">
        <h2 class="text-cyan">{{ layer.name }}</h2>
        <p class="depth">{{ layer.depth }}</p>
        <p class="description">
          {{ layer.description }}
        </p>
      </div>

    </div>

  </div>
</section>
